<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %} {% block pageTitle %} Eligibility {% endblock %} {% block header %} <!-- Blank header with no service name for the start page -->
   {{ govukHeader() }} {% endblock %} {% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
            href="https://www.gov.uk/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
            href="https://www.gov.uk/browse/childcare-parenting">Childcare and parenting</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
            href="https://www.gov.uk/browse/childcare-parenting/financial-help-children">Financial help if you have children</a>
      </li>
    </ol>
  </div>{% endblock %} {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get help to buy food and milk <span class="govuk-caption-xl govuk-!-margin-top-2">(Healthy Start)</span></h1>
      <aside class="part-navigation-container"
             role="complementary">
        <nav aria-label="Pages in this guide"
             class="gem-c-contents-list"
             data-module="track-click"
             role="navigation">
          <h2 class="gem-c-contents-list__title">Contents</h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link"
                  href="overview">Overview</a>
            </li>
            <li aria-current="true"
                class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">Eligibility</li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link"
                  href="what-youll-get">What you'll get</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link"
                  href="what-you-can-buy">What you can buy</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link"
                  href="how-to-apply">How to apply</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link"
                  href="get-help-with-your-claim">Get help with your claim</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a class="gem-c-contents-list__link govuk-link"
                  href="terms-and-conditions">Terms and conditions</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="part-title">Eligibility</h1>
      <p>You’ll qualify for the Healthy Start scheme if either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you’re at least 10 weeks pregnant</li>
        <li>you have at least one child under 4</li>
      </ul>
      <p>In addition, you must be receiving any of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Child Tax Credit (but only if your family’s annual income is £16,190 or less)</li>
        <li>income-related Employment and Support Allowance</li>
        <li>Income Support</li>
        <li>Income-based Jobseeker’s Allowance</li>
        <li>Pension Credit</li>
        <li>Universal Credit (but only if your family earns £408 or less per month from employment)</li>
        <li>Working Tax Credit (but only if your family is receiving the 4 week ‘run-on’ payment)</li>
      </ul>
      <div class="govuk-inset-text">
        You’ll also be eligible for the Healthy Start scheme if you’re pregnant and under 18, even if you do not receive any benefits.
      </div>
      <p>Working Tax Credit run-on is the payment you receive for a further 4 weeks immediately after you stop qualifying for <a href="https://www.gov.uk/working-tax-credit/overview">Working Tax Credit</a>.</p>
      <nav aria-label="Pagination"
           class="gem-c-pagination"
           role="navigation">
        <ul class="gem-c-pagination__list"
            data-module="track-click">
          <li class="gem-c-pagination__item gem-c-pagination__item--previous">
            <a class="gem-c-pagination__link"
                href="overview"
                rel="prev"><span class="gem-c-pagination__link-title"><svg class="gem-c-pagination__link-icon"
                 height="13"
                 viewbox="0 0 17 13"
                 width="17"
                 xmlns="http://www.w3.org/2000/svg">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path></svg> <span class="gem-c-pagination__link-text">Previous</span></span> <span class=
            "gem-c-pagination__link-divider visually-hidden">:</span> <span class="gem-c-pagination__link-label">Overview</span></a>
          </li>
          <li class="gem-c-pagination__item gem-c-pagination__item--next">
            <a class="gem-c-pagination__link"
                href="what-youll-get"
                rel="next"><span class="gem-c-pagination__link-title"><svg class="gem-c-pagination__link-icon"
                 height="13"
                 viewbox="0 0 17 13"
                 width="17"
                 xmlns="http://www.w3.org/2000/svg">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path></svg> <span class="gem-c-pagination__link-text">Next</span></span> <span class=
            "gem-c-pagination__link-divider visually-hidden">:</span> <span class="gem-c-pagination__link-label">What you’ll get</span></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items"
             role="complementary">
        <h2 class="govuk-heading-s govuk-!-margin-top-2"
            id="subsection-title">Related content</h2>
        <nav aria-labelledby="subsection-title"
             role="navigation">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/child-benefit">Claim Child Benefit</a>
            </li>
            <li>
              <a href="https://www.gov.uk/maternity-allowance">Maternity Allowance</a>
            </li>
            <li>
              <a href="https://www.gov.uk/sure-start-maternity-grant">Sure Start Maternity Grant</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>{% endblock %}
</body>
</html>
