<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get help to buy food and milk <span class="govuk-caption-xl">(Healthy Start)</span></h1>{{releaseVersion | log }}
      <p>The Healthy Start scheme allows eligible applicants to Get help to buy food and milk.</p>
      <p>The 'Apply' service allows applicants to apply for the service.</p>
      <h2 class="govuk-heading-m">Prototype</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/overview">Guidance Pages</a>
        </li>
      </ul>
    </div>
  </div>{% endblock %}
</body>
</html>
